<md-dialog class="orders-filter-dialog" aria-label="Фильтр Заказов">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Фильтр взаиморасчетов</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-icon aria-label="Close dialog">clear</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>

            <h4>Диапазон дат</h4>
            <div layout-gt-xs="row">

                <div flex-gt-xs>
                    <span class="filter-date-label">С: </span> <md-datepicker ng-model="filterData.dateFrom" md-placeholder="Дата C"></md-datepicker>
                </div>

                <div flex-gt-xs>
                    <span class="filter-date-label" >По: </span> <md-datepicker ng-model="filterData.dateTo" md-placeholder="Дата ПО"></md-datepicker>
                </div>
            </div>


        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="unsetFilter()" ng-if="isFilterSet()">
                Снять фильтр
            </md-button>
            <span flex></span>
            <md-button ng-click="setFilter()">
               Применить фильтр
            </md-button>

        </md-dialog-actions>
    </form>
</md-dialog>