<div ng-controller="PersonalMenuController">

<md-content id="personalOrderMenue" class="main-menu" flex>

<div class="menu-padding-left">

 <md-list>
     <md-list-item class="md-subhead">
        <md-button ng-click="onClickMenu('personal.orders')"> Заказы</md-button>
         </md-list-item>
     <md-list-item class="md-subhead">
         <md-button ng-click="onClickMenu('personal.payments')"> Взаиморасчеты</md-button>
     </md-list-item>
     <md-list-item class="md-subhead">
         <md-button ng-click="onClickMenu('catalog.home')"> В каталог</md-button>
     </md-list-item>
 </md-list>

</div>
</md-content>
</div>